<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://fitvention.com">News</a></li>
      <li><a href="http://www.fitvention.com/">Test</a></li>
    </ul>
  </nav>
</footer>